[Unit]
Description=OPC UA Aggregation Client
Require=postgresql.service
After=postgresql.service

[Service]
WorkingDirectory=/srv/OpcuaAggregationClient
ExecStart=/home/mukhin/.dotnet/dotnet /srv/OpcuaAggregationClient/OpcuaAggregationClient.dll
SyslogIdentifier=opcua-aggregation
User=mukhin
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target